@inherits ViewPage<viewer.Stats>

@section PageScripts {
	<script type="text/javascript" src="/assets/js/default-init.js"></script>
}

<div class="row">
	<div class="col-md-12">
		<h1>Yo der</h1>
		<p>The database has @(Model.NumberOfNames) names!!</p>
	</div>
</div>

