
#names {
	font-size: 1.7em;
	margin-top: 2em;
}

.name {
	padding: 0.5em;
	text-align: center;
	color: #428bca;
}

.name.invalid {
	color: rgba(217, 83, 79, 0.5);
}

.name:hover {
	background-color: #fcf8e3;
}
